<h1>item</h1>
<h2><b>poivres</b></h2>
<h3><strong>Catégorie</strong></h3>

<img src="../../img/poivre.jpg" alt="poivre">


<p>
   ducros il ce décargasse et ça change tout !
</p>

<p> 
    Prix: 10€
</p>

<p>
    Nous avons créé pour vous ce mélange unique dont les poivres ont été sélectionnés pour leurs saveurs complémentaires et leur richesse en bouche.
Il vous garantit une note d’intensité de 8 pour des arômes chauds et fruités.
</p>
<a href="../../index.html">Retourner à l'acceuil</a>