<h1>item</h1>
<h2><b>lardons</b></h2>
<h3><strong>Catégorie</strong></h3>

<img src="../../img/3625-Lardons-env.jpg" alt="lardons en barquette">


<p>
    Paragraphe descriptif avec l’accroche produit
</p>

<p> 
    Prix: 5€
</p>

<p>
    petits morceaux de lard maigre en barquette de  250 gramme
</p>
<a href="../../index.html">Retourner à l'acceuil</a>