<h1>item</h1>
<h2><b>coca cola</b></h2>
<h3><strong>Catégorie</strong></h3>

<img src="../../img/boisson-coca-cola.jpg" alt="image">


<p>
        Coca-Cola est sans conservateurs ajoutés et contient des arômes naturels.
        Une canette de Coca-Cola apporte 139 Calories.
</p>

<p> 
    Prix: 1€
</p>

<p>
        Un après-midi, alors qu’il remue un liquide parfumé de couleur caramel, John Stith Pemberton, pharmacien d’Atlanta, obtient un breuvage qu’il s’empresse d’apporter, à quelques pas de là, à la pharmacie Jacob’s. La mixture y est alors diluée avec de l’eau gazeuse, puis proposée aux clients pour qu’ils la goûtent.

        À l’unanimité, ces derniers lui trouvent quelque chose de nouveau. La pharmacie Jacob’s met aussitôt en vente la boisson au prix de 5 cents le verre. Il s’en écoule neuf par jour pendant la première année. L’aventure Coca-Cola commence !
</p>
<a href="../../index.html">Retourner à l'acceuil</a>