<h1> le froids c'est vien !</h1>
<h2> Les froids</h2>

<p>
        rassemble tout les produits eyant un besoin d'etre dans un endroit froids
</p>

<h2>Les articles</h2>
    <ul>
        <li><a href="../articles/item-2.html">coca cola</a></li>
        <li><a href="../articles/item.html">lardons</a></li>
    </ul>

<a href="../../index.html">Retourner à l'acceuil</a>