<h1> Catégorie</h1>
<h2> Les viandes</h2>

<p>
        tout le nécessaire pour ce préparer de bon petit plat à la maison.
</p>

<h2>Les articles</h2>
    <ul>
        <li><a href="../articles/item.html">lardons</a></li>
    </ul>

<a href="../../index.html">Retourner à l'acceuil</a>