<h1> le chaud c'est cool !</h1>
<h2> Les chauds</h2>

<p>
        rassemble tout les produits eyant un besoin d'etre dans un endroit froids
</p>

<h2>Les articles</h2>
    <ul>
        <li><a href="../articles/item-3.html">poivres</a></li>
    </ul>

<a href="../../index.html">Retourner à l'acceuil</a>